<div class="container">
    <div class="row mt-3">
        <div class="col text-right">
            <button (click)="open(newItem, null)" class="btn btn-primary">New Item</button>
        </div>
    </div>
    <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quality</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of items">
          <tr>
            <th scope="row">{{item.id | slice:24}}</th>
            <td>{{item.name}}</td>
            <td>{{item.stockNumber}}</td>
            <td>
                <button (click)="open(updateItem,item)" class="btn btn-primary mr-2" >Edit</button>
                <button (click)="open(updateStock,item)" class="btn btn-primary">Update Stock</button>
            </td>
          </tr>
        </tbody>
      </table>

</div>


<ng-template #newItem let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Item Detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-new-item (closePop)="subsribePop($event)"></app-new-item>
</ng-template>

<ng-template #updateStock let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Item Detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-update-stock [item]="selectItem" (closeStockPop)="subsribeUpdatePop($event)" ></app-update-stock>
</ng-template>

<ng-template #updateItem let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Item Detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-update-item [item]="selectItem" (closeUpdatePop)="subsribeUpdatePop($event)" ></app-update-item>
</ng-template>