<div class="modal-body">
    <form>
        <div class="row">
            <div class="col">
                ID:000132
            </div>
            <div class="col">
                Name:Rong Yao
            </div>
        </div>
        <div class="form-group row mt-3">
            <label for="sockerNumber" class="col-sm-4 col-form-label">Socker Number:</label>
            <div class="col-sm-6">
                <input class="form-control" id="sockerNumber" type="number">
            </div>
        </div>
    </form>
</div>