<div class="container-fluid">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">CreateDate</th>
            <th scope="col">Total</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of orders">
          <tr>
            <th scope="row">#{{order.id | slice:24}}</th>
            <td>{{order.createDate | date:'fullDate'}}</td>
            <td>{{order.total | currency:'CNY'}}</td>
            <td><button (click)="open(content, order)" class="btn btn-primary">View</button></td>
          </tr>
        </tbody>
      </table>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Order Detail</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <app-order [order]="currentOrder"></app-order>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
</ng-template>