<div class="modal-body">
    <div *ngFor="let line of order.lines" class="row overflow-auto">
        <div class="col-4 text-center">
            <img width="150" height="150"
                [src]="line.thumbnail"
                alt="..." class="img-thumbnail">
        </div>
        <div class="col-8">
            <p>{{line.itemId | slice:24}}</p>
            <p>{{line.itemName}}</p>
            <p>{{line.quantity}}</p>
            <p>{{line.price*line.quantity | currency:'CNY'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right mr-3">
            <p>Order#: {{order.id | slice:24}}</p>
            <p>Total tax: {{order.totalTax | currency:'CNY'}}</p>
            <p>Discount: {{order.discountPercent}}%</p>
            <p>Total: {{order.total |  currency:'CNY'}}}</p>
        </div>
    </div>
</div>