<div class="modal-body">
    <div class="row overflow-auto">
        <div class="col-4 text-center">
            <img width="150" height="150"
                src="https://m.360buyimg.com/babel/jfs/t1/95633/33/17857/78654/5e8d8bacE783de38c/33975329b96c3638.jpg!q70.jpg"
                alt="..." class="img-thumbnail">
        </div>
        <div class="col-8">
            <p>Item Name + Descripton</p>
            <p>Qulity</p>
            <p>Seller Name</p>
            <p>Total</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right mr-3">
            <p>Order#: 120032</p>
            <p>Total tax: $10</p>
            <p>Discount: 5%</p>
            <p>Total: $456</p>
        </div>
    </div>
</div>