<div class="container-fluid">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Applied Date</th>
          </tr>
        </thead>
        <tbody *ngFor="let discount of discounts">
          <tr>
            <th scope="row">{{discount.code | slice:24}}</th>
            <td>{{discount.startDate | date: 'fullDate'}}</td>
            <td>{{discount.endDate | date: 'fullDate'}}</td>
            <td>{{discount.applieDate |  date: 'fullDate'}}</td>
          </tr>
        </tbody>
      </table>

</div>