<div class="container-fluid">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Applied Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">SJFJKS</th>
            <td>2020/01/23</td>
            <td>2020/12/23</td>
            <td></td>
          </tr>
        </tbody>
      </table>

</div>